body {
  margin: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

canvas {
  display: block; /* Usuwa marginesy */
  touch-action: none; /* Blokuje zoom na mobile */
  outline: none; /* Usuwa focus outline */
}
